.container{
    display:flex;
    flex-direction:column;
    gap:6px;
}


.inputWrapper{

    display:flex;
    
    align-items:center;

    border:1px solid #D1D5DB;

    border-radius:8px;

    padding:0 12px;

    transition:.2s;
}

.label{
    font-size:14px;
    font-weight:600;
}

.input{

    flex:1;

    border:none;

    outline:none;

    padding:12px 0;

    background:transparent;
}


.inputWrapper:focus-within{

    border-color:#2563EB;

}

.fullWidth{

    width:100%;

}

.sm{

    height:32px;

}

.md{

    height:40px;

}

.lg{

    height:48px;

}

.error{

    border-color:red;

}

.errorMessage{

    color:red;

    font-size:12px;

}

.helperText{

    color:#6B7280;

    font-size:12px;

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
}
