.loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin:200px
}


.loginForm h2{
    font-weight:bold;
} 

.loginForm h2, p{
    text-align: center;
}

.loginFormButtonEntrar, .loginFormButtonGoogle{
    padding:var(--space-6) 0 var(--space-6) 0
}

.loginFormOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-4);
    margin-top: var(--space-2);
}

.loginForgotPassword {
    text-decoration: none;
    transition: var(--transition-fast);

}
